<h1>oxo.js: tic-tac-toe using ES6 and vue.js</h1>
<div id="oxo-root" class="playing">
  <div id="oxo-controls">
    <button class="oxo-control" type="button" autofocus="autofocus">START</button>
  </div>

  <div id="oxo-base">
    <div v-for="row in game.grid" class="oxo-row">
      <button v-for="cell in row" class="oxo-cell">
        <div v-on:click="makeMove(cell)" class="oxo-player">{{cell.value}}</div>
      </button>
    </div>
  </div>

  <div id="oxo-instructions">
    <p>Press the start button to begin!</p>
  </div>

  <div id="oxo-status">
    <p>It's
      <span class="oxo-status-player">Player 1</span>'s turn.</p>
    <p>
      <strong>0</strong> moves have been taken.</p>
  </div>

</div>